In [ ]:
import pandas as pd

df = pd.read_csv('/content/dietary_data.csv')

food_items = ["Grains", "Potatoes", "Beans", "Fruit", "Meat", "Fish", "Cheese", "Milk", "Yogurt"]

for col in food_items:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df.apply(lambda row: row[col] / (df[col].sum()/6), axis = 1) # Proportional Consumption

print(df)


df.to_excel("dietary_data_proportioned.xlsx", index=False)

                 Diet       N   Age   Women Energy    Grains  Potatoes  \
0              Vegans   2,041  37.3  63.40%  1,754  1.158462  0.981753
1         Vegetarians  15,751  38.6  76.90%  1,879  1.084615  0.921596
2         Fish-eaters   8,123  41.8  82.20%  1,897  1.066154  0.873471
3     Low meat-eaters   9,332  47.5  80.00%  1,816  0.941538  0.861440
4  Medium meat-eaters  11,971  49.8  77.80%  1,940  0.872308  1.074393
5    High meat-eaters   8,286  49.7  72.10%  2,222  0.876923  1.287347

      Beans     Fruit      Meat      Fish    Cheese      Milk    Yogurt
0  1.711037  1.231132  0.007347  0.018018  0.074565  0.028417  0.074241
1  1.239223  1.004717  0.009796  0.021622  1.491301  1.026181  1.137233
2  1.054477  1.033019  0.048980  1.401802  1.357084  1.077490  1.268841
3  0.716248  0.976415  0.693061  1.390991  1.133389  1.184055  1.285714
4  0.613927  0.891509  1.812245  1.574775  0.984258  1.306407  1.160855
5  0.665088  0.863208  3.428571  1.592793  0.959403  1.377450  1.073116

In [ ]:

supple_df = pd.read_csv("/content/supple_data.csv", encoding='ISO-8859-1')
supple_agg_rows = []
supple_df['Weight'] = supple_df['Weight'].str[:-1]
supple_df['Weight'] = pd.to_numeric(supple_df['Weight'], errors='coerce')
supple_df_grouped = supple_df.groupby(['Data S2 Name', 'Country'])
for name, group in supple_df_grouped:
  group['ProportionWithinCountry'] = group['Weight'] / group["Weight"].sum()
  #group['ProportionalLandUse'] =  group['Land Use (m2*year)'] * group['ProportionWithinCountry']
  group['ProportionalWaterUse'] =  group['Water Use (L)'] * group['ProportionWithinCountry']
  row = {'S2_Name': name[0], 'Country': name[1], 'Water Use (L)': group['ProportionalWaterUse'].sum(), 'GlobalProportion%': group["Weight"].sum()}
  supple_agg_rows.append(row)

supple_agg_df = pd.DataFrame(supple_agg_rows)

print(supple_agg_df)

    S2_Name                   Country  Water Use (L)  GlobalProportion%
0    Apples                    Canada       0.000000                2.2
1    Apples                     Chile       0.730000                8.1
2    Apples                     China       1.720000               32.0
3    Apples                    France      38.023900               10.0
4    Apples                   Germany      14.118200                5.0
..      ...                       ...            ...                ...
347    Wine                     Italy      34.279947               19.0
348    Wine                  Portugal       3.630000                6.1
349    Wine                     Spain       7.880000               27.3
350    Wine               Switzerland       2.039000                1.0
351    Wine  United States of America     322.271190               25.2

[352 rows x 4 columns]

In [ ]:
supple_agg_df['S2_Name'].unique()

array(['Apples', 'Bananas', 'Barley (Beer)', 'Beet Sugar',
       'Berries & Grapes', 'Bovine Meat (beef herd)',
       'Bovine Meat (dairy herd)', 'Brassicas', 'Cane Sugar', 'Cassava',
       'Cheese', 'Citrus Fruit', 'Coffee', 'Crustaceans (farmed)',
       'Dark Chocolate', 'Eggs', 'Fish (farmed)', 'Groundnuts',
       'Lamb & Mutton', 'Maize (Meal)', 'Milk', 'Nuts', 'Oatmeal',
       'Olive Oil', 'Onions & Leeks', 'Other Fruit', 'Other Pulses',
       'Other Vegetables', 'Palm Oil', 'Peas', 'Pig Meat', 'Potatoes',
       'Poultry Meat', 'Rapeseed Oil', 'Rice', 'Root Vegetables',
       'Soybean Oil', 'Soymilk', 'Sunflower Oil', 'Tofu', 'Tomatoes',
       'Wheat & Rye (Bread)', 'Wine'], dtype=object)

In [ ]:
mapping = {
    'Grains': ['Barley (Beer)', 'Beet Sugar', 'Maize (Meal)', 'Oatmeal', 'Rice', 'Wheat & Rye (Bread)'],
    'Potatoes': ['Potatoes'],
    'Beans': ['Groundnuts', 'Other Pulses', 'Peas', 'Soybean Oil'],
    'Fruit': ['Apples', 'Bananas', 'Berries & Grapes', 'Citrus Fruit', 'Other Fruit', 'Tomatoes'],
    'Meat': ['Bovine Meat (beef herd)', 'Bovine Meat (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat'],
    'Fish': ['Crustaceans (farmed)', 'Fish (farmed)'],
    'Cheese': ['Cheese'],
    'Milk': ['Milk'],
    'Yogurt': ['Soymilk', 'Tofu']
}
reverse_mapping = {value: key for key, values in mapping.items() for value in values}
supple_agg_df['Category'] = supple_agg_df['S2_Name'].map(reverse_mapping)
print(supple_agg_df)
supple_agg_df.to_excel("supple_agg_df_water.xlsx", index=False)

    S2_Name                   Country  Water Use (L)  GlobalProportion%  \
0    Apples                    Canada       0.000000                2.2
1    Apples                     Chile       0.730000                8.1
2    Apples                     China       1.720000               32.0
3    Apples                    France      38.023900               10.0
4    Apples                   Germany      14.118200                5.0
..      ...                       ...            ...                ...
347    Wine                     Italy      34.279947               19.0
348    Wine                  Portugal       3.630000                6.1
349    Wine                     Spain       7.880000               27.3
350    Wine               Switzerland       2.039000                1.0
351    Wine  United States of America     322.271190               25.2

    Category
0      Fruit
1      Fruit
2      Fruit
3      Fruit
4      Fruit
..       ...
347      NaN
348      NaN
349      NaN
350      NaN
351      NaN

[352 rows x 5 columns]

In [ ]:

vegan_proportions = dietary_data_df[dietary_data_df['Diet'] == 'Vegetarians']
vegan_proportions

,Diet,N,Age,Women,Energy,Grains,Potatoes,Beans,Fruit,Meat,Fish,Cheese,Milk,Yogurt
1,Vegetarians,"15,751",38.6,76.90%,"1,879",0.180769,0.153599,0.206537,0.167453,0.001633,0.003604,0.24855,0.17103,0.189539

In [ ]:
dietary_data_df = pd.read_excel('dietary_data_proportioned.xlsx')

main_data_counts_df = pd.read_excel('main_data_counts.xlsx')
main_data_counts_df

diet_group_name_mappings = {'fish': 'Fish-eaters', 'veggie': 'Vegetarians', 'vegan': 'Vegans', 'meat': 'Low meat-eaters', 'meat50': 'Medium meat-eaters', 'meat100': 'High meat-eaters'}
main_data_counts_df = main_data_counts_df[main_data_counts_df['age_group'] == '20-29']

proportions_by_age = []

for index, row in main_data_counts_df.iterrows():
  proportions = dietary_data_df[dietary_data_df['Diet'] == diet_group_name_mappings[row['diet_group']]]
  proportions_by_age.append(proportions[mapping.keys()] * row['n_participants_proportioned'])

proportions_by_age = pd.concat(proportions_by_age, ignore_index=True).sum()
proportions_by_age

Grains      1.039994
Potatoes    0.949826
Beans       1.098287
Fruit       1.004547
Meat        0.466417
Fish        0.633599
Cheese      1.242038
Milk        1.021389
Yogurt      1.089297
dtype: float64

In [ ]:
supple_agg_df = pd.read_excel('supple_agg_df.xlsx')
dietary_data_df = pd.read_excel('dietary_data_proportioned.xlsx')
supple_agg_df.dropna(inplace=True)
diet_type = 'Vegetarians'
vegan_proportions = dietary_data_df[dietary_data_df['Diet'] == diet_type]
supple_agg_df['ProportionatedLandUseByDietType'] = supple_agg_df.apply(lambda row: row['LandUse(m2*year)'] * (proportions_by_age[row['Category']]), axis = 1)
land_use_summed = supple_agg_df.groupby('Country')['ProportionatedLandUseByDietType'].sum().to_dict()

In [ ]:
land_use_summed

{'Argentina': 23.956299237048796,
 'Australia': 76.80774890078,
 'Austria': 5.993452889902416,
 'Bangladesh': 1.1313950543128084,
 'Belgium': 16.7384247187685,
 'Benin': 6.204505826026059,
 'Brazil': 483.227592225991,
 'Cameroon': 0.0,
 'Canada': 86.41409801267024,
 'Chile': 4.426595762303174,
 'China': 40.070112269075814,
 'Colombia': 17.72020584552489,
 'Costa Rica': 1.7077295882875463,
 'Cuba': 15.102568449419474,
 'Cyprus': 1.403991989179284,
 'Denmark': 28.78733814037011,
 'Ecuador': 5.064907729724834,
 'Finland': 2.7559842750556314,
 'France': 130.10754036215198,
 'Germany': 32.69281609512581,
 'Greece': 12.186104030826057,
 'Guadeloupe': 0.4319551311550852,
 'Hungary': 0.020090936332794664,
 'India': 34.358501386853085,
 'Iran (Islamic Republic of)': 72.50784757064865,
 'Ireland': 12.738912611219458,
 'Israel': 0.43692011026741,
 'Italy': 27.915344783960382,
 'Japan': 10.52245518611903,
 'Malaysia': 4.421629058075867,
 'Mexico': 165.2524603884461,
 'Morocco': 0.925532462554787,
 'Nepal': 2.412786233256251,
 'Netherlands': 29.314405602996356,
 'New Zealand': 0.23926478723600916,
 'Norway': 3.7907783707840665,
 'Panama': 2.210002996607413,
 'Peru': 343.11266749706846,
 'Poland': 4.538189673620333,
 'Portugal': 38.042133274326325,
 'Russian Federation': 1.576711702269349,
 'South Africa': 149.4688775606835,
 'Spain': 30.99390294881926,
 'Sweden': 135.60180002746273,
 'Switzerland': 7.505131663148118,
 'Thailand': 42.79639070992149,
 'Turkey': 0.1607274906623573,
 'Ukraine': 1.1017985389352076,
 'United Kingdom': 28.53728598276535,
 'United States of America': 117.85649654224557,
 'Viet Nam': 1.606703761929081}